_build/
*.merlin
experiments/data
experiments/summaries
data-backup/
summaries-backup/
specifications-backup
*swp
*swo
experiments/latex-tables/smyth-experiment-tables.aux
experiments/latex-tables/smyth-experiment-tables.log
experiments/latex-tables/smyth-experiment-tables.out
experiments/exp-4-logic/myth_benchmarks.pyc
generated/
smyth-experiment-tables.pdf
