:root {
  --pop: #FF6B35;
  --pop-translucent: rgba(255, 107, 53, 0.1);
	--pop-dark: /* #9B1D20; */ #BB2428;
  --dark: #1A1D22;
  --medium: #23272E;
  --light: #2C313A;
  --text: #FAEDCA;
  --faint: rgba(255, 255, 255, 0.05);

  --clip-amount: 50px;

  --floating-shadow: 0 7px 7px rgba(0, 0, 0, 0.1);

  --hole-color: #DB97CD;
}

* {
  box-sizing: border-box;

  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  background-color: var(--medium);
  font-size: 24px;
  font-family: "Source Sans Pro";
  color: var(--text);
  padding-bottom: 40px;
}

section > div {
  width: 600px;
  margin: auto;
}

section:nth-of-type(even) {
  background-color: var(--dark);
  clip-path: polygon(0 0, 100% var(--clip-amount), 100% calc(100% - var(--clip-amount)), 0 100%);
  padding: 75px 0;
  margin-bottom: 25px;
}

h1, h2, h3, h4, h5, h6 {
  display: block;
  font-weight: bold;
}

header {
  background-color: var(--dark);
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - var(--clip-amount)), 0 100%);
  padding: 50px;
  padding-bottom: calc(50px + var(--clip-amount));
  margin-bottom: 25px;
  text-align: center;
}

header h1 {
  font-weight: bold;
  font-size: 9rem;
	letter-spacing: 10px;
  color: var(--pop);
	text-align: center;
  display: inline-block;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 30px;
  margin-top: 20px;
  text-align: center;
}

h3 {
  font-size: 2rem;
  margin-bottom: 30px;
}

p {
  line-height: 1.5;
  margin-bottom: 1rem;
}

.system {
  font-weight: bold;
  font-variant: small-caps;
}

.lambda-system {
  font-weight: bold;
}

.CodeMirror {
  border: 1px dashed var(--faint);
  padding: 10px;
  font-family: "Inconsolata", monospace !important;
  height: auto;
  width: 100%;
  box-shadow: var(--floating-shadow);
}

.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}

.forge {
  outline: 0;
  background: none;
  border: 1px solid var(--pop);
  border-radius: 5px;
  margin: 20px 0;
  width: 100%;
  color: var(--pop);
  font-size: 1.2em;
  font-family: inherit;
  padding: 5px;
  text-align: center;
  font-variant: small-caps;
  cursor: pointer;
  transition: 0.2s box-shadow;
}

.forge:hover {
  box-shadow: var(--floating-shadow);
}

.forge:active {
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1);
}

.CodeMirror, .CodeMirror-gutters {
  background-color: var(--dark) !important;
}

section:nth-of-type(odd) .CodeMirror,
section:nth-of-type(odd) .CodeMirror-gutters {
  background-color: var(--medium) !important;
}

.output {
  padding: 0 20px;
  font-size: 0.7em;
  width: 100%;
}

.output:not(:empty) {
  margin-bottom: 2rem;
}

.binding {
  display: flex;
  margin-bottom: 10px;
  align-items: flex-start;
}

.name {
  width: 50px;
  line-height: 46px;
  height: 50px;
  text-align: center;
  border: 1px solid var(--hole-color);
  color: var(--hole-color);
  font-family: "Inconsolata", monospace;
  border-radius: 50%;
  position: relative;
  font-size: 1em;
  box-shadow: var(--floating-shadow);
}

sub.hole {
  vertical-align: sub;
  font-size: smaller;
}

.mapsto {
  font-size: 2em;
  margin: 0 20px;
}

.expression {
  flex-grow: 1;
  flex-shrink: 1;
}

code {
  white-space: pre;
  font-family: "Inconsolata", monospace;
  background-color: var(--faint);
  padding: 2px 5px;
  border-radius: 5px;
}

i {
  font-style: italic;
  padding: 0 2px;
  border-radius: 5px;
  color: var(--pop);
  background-color: var(--pop-translucent);
}

em {
  font-style: italic;
}

.arrow {
}

.eval h3,
.uneval h3,
.bieval h2 {
  display: flex;
  align-items: center;
}

.right-arrow {
  margin-top: 3px;
  margin-left: 15px;
  position: relative;
  height: 10px;
  border-top: 1px solid var(--text);
  border-bottom: 1px solid var(--text);
  flex: 1;
  margin-right: 4px;
}

.right-arrow::after {
  content: "";
  width: 17px;
  height: 17px;
  border-top: 1px solid var(--text);
  border-right: 1px solid var(--text);
  position: absolute;
  right: 4px;
  transform: rotate(45deg) translateY(-7px);
}

.left-arrow {
  margin-top: 3px;
  margin-right: 15px;
  margin-left: 6px;
  position: relative;
  height: 10px;
  border-top: 1px solid var(--text);
  border-bottom: 1px solid var(--text);
  flex: 1;
}

.left-arrow::after {
  content: "";
  width: 17px;
  height: 17px;
  border-bottom: 1px solid var(--text);
  border-left: 1px solid var(--text);
  position: absolute;
  left: -6px;
  transform: rotate(45deg) translateY(-7px);
}

.bieval .right-arrow {
  margin: 0;
  margin-right: 20px;
}

.bieval .left-arrow {
  margin: 0;
  margin-left: 20px;
}

a {
  color: #6a9fb5;
  text-decoration: underline;
  padding: 0 2px;
  border-radius: 5px;
}

a:hover {
  background-color: var(--faint);
}

div.display {
  text-align: center;
  margin-bottom: 1rem;
}

code.display {
  display: block;
  font-size: 1rem;
  line-height: 1;
  margin-bottom: 1rem;
}

.nb {
  background-color: var(--light);
  border-radius: 20px;
  margin-bottom: 1rem;
  padding: 20px;
  padding-left: 50px;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.6);
}

.nb h4::before {
  content: "i";
  display: inline-block;
  border: 1px solid var(--text);
  vertical-align: baseline;
  font-size: 1rem;
  line-height: 1.5;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  position: absolute;
  left: -30px;
  border-radius: 50%;
}

.nb > div {
}

.nb p {
  margin-left: 0px;
  font-size: 1rem;
}

.nb p:last-child {
  margin-bottom: 0;
}

.nb h4 {
  line-height: 0.8;
  margin-left: 0px;
  font-size: 24px;
  margin-bottom: 10px;
  position: relative;
}

.clear-forge {
  outline: 0;
  background: none;
  border: 1px solid var(--pop-dark);
  border-radius: 5px;
  display: inline-block;
  padding: 5px 20px;
  color: var(--pop-dark);
  font-size: 1.2em;
  font-family: inherit;
  text-align: center;
  font-variant: small-caps;
  cursor: pointer;
  transition: 0.2s box-shadow;
}

.clear-forge:hover {
  box-shadow: var(--floating-shadow);
}

.clear-forge:active {
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1);
}

header .authors {
  margin-top: 20px;
}

header .authors a {
  padding: 5px;
  display: inline-block;
}

header .authors li {
  list-style-type: none;
  display: inline-block;
  margin: 0 20px;
}

section ol {
  counter-reset: item;
  font-size: 1rem;
}

section ol li {
  display: flex;
  counter-increment: item;
  padding-left: 10px;
  margin-bottom: 0.5rem;
  line-height: 1.5;
}

section ol li:before {
  content: counter(item);
  margin-right: 10px;
  border: 1px solid var(--text);
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  display: block;
  border-radius: 50%;
  font-size: 1rem;
  flex-grow: 0;
  flex-shrink: 0;
  position: relative;
  top: 1px;
}

.interest {
  font-weight: bold;
  text-transform: uppercase;
  padding: 0 2px;
  border-radius: 5px;
  color: var(--pop);
  background-color: var(--pop-translucent);
}

div.response {
  position: relative;
  margin-bottom: 2rem;
}

div.response p {
  margin-left: 50px;
  margin-top: -1rem;
}

div.response::before {
  content: "⇒ ";
  position: absolute;
  line-height: 1.5;
  left: 10px;
}

section ul li {
  list-style-type: disc;
  margin-left: 40px;
  padding-left: 10px;
  line-height: 1.5;
  margin-bottom: 1rem;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

.more-info h2 {
  margin-bottom: 3rem;
}

@media(max-width: 800px) {
  body {
    padding-bottom: 0;
  }

  header {
    padding: 50px;
  }

  section {
    padding: 50px 0 !important;
    margin: 0px !important;
  }

  header .authors li {
    display: block;
    margin-top: 20px;
  }

  header, section {
    clip-path: none !important;
  }
}

@media(max-width: 660px) {
  h1 {
    font-size: 5rem !important;
  }

  section > div {
    width: calc(100% - 60px);
    margin: 0;
    margin-left: 30px;
    overflow-x: hidden;
  }

  .nb {
    overflow-x: scroll;
  }
}
